@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  -webkit-font-smoothing: antialiased;
  color: var(--sand12);
  scroll-behavior: smooth;
}

.font-inherit {
  font-family: inherit !important;
}

a {
  text-decoration: none;
}

.btn {
  text-decoration: none;
}

.bg-blue {
  background-color: #21325B !important;
}

.b,
.strong {
  font-weight: 600;
}

@keyframes loading-pulse-1 {
  0% {
    top: 18px;
    height: 64px
  }

  50% {
    top: 30px;
    height: 40px
  }

  100% {
    top: 30px;
    height: 40px
  }
}

@keyframes loading-pulse-2 {
  0% {
    top: 20.99999999999999px;
    height: 58.00000000000001px
  }

  50% {
    top: 30px;
    height: 40px
  }

  100% {
    top: 30px;
    height: 40px
  }
}

@keyframes loading-pulse-3 {
  0% {
    top: 24px;
    height: 52px
  }

  50% {
    top: 30px;
    height: 40px
  }

  100% {
    top: 30px;
    height: 40px
  }
}

.loading-pulse div {
  position: absolute;
  width: 14px
}

.loading-pulse div:nth-child(1) {
  left: 17.5px;
  background: #0D494A;
  animation: loading-pulse-1 0.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.2s
}

.loading-pulse div:nth-child(2) {
  left: 42.5px;
  background: #0D494A;
  animation: loading-pulse-2 0.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.1s
}

.loading-pulse div:nth-child(3) {
  left: 67.5px;
  background: #0D494A;
  animation: loading-pulse-3 0.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: undefineds
}

.loading-spinner-pulse-container {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #FFFF;
}

.loading-pulse {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loading-pulse div {
  box-sizing: content-box;
}

.errorBg {
  background: url('../../public/images/leaf.jpg') no-repeat;
  mix-blend-mode: multiply;
  height: 570px;
  background-position: center top;
  background-size: cover;
  width: 100%;
  margin-top: 170px;
}

.errorContent {
  top: 50px;
}

.errorContainer {
  width: 100%;
}

#action-row:not(#action-row:has(.action)) {
  display: none;
}

/* Styles for tree  */

.hierarchy-tree,
.hierarchy-tree ul,
.hierarchy-tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.hierarchy-tree {
  margin: 0 0 1em;
  text-align: center;
  width: 100%;
}

.hierarchy-tree,
.hierarchy-tree ul {
  display: table;
  width: 100%;
}

.hierarchy-tree li {
  display: table-cell;
  padding: 1em 0;
  vertical-align: top;
  min-width: 120px;
}

.hierarchy-tree li:before {
  outline: solid 1px silver;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0.55em;
}

.hierarchy-tree li:first-child:before {
  left: 50%;
}

.hierarchy-tree li:last-child:before {
  right: 50%;
}

.hierarchy-tree div,
.hierarchy-tree span {
  border: solid .1em silver;
  border-radius: .2em;
  display: inline-block;
  margin: 1em .5em 1em;
  padding: 0.7em 1.5em;
  position: relative;
  box-sizing: border-box;
}

.hierarchy-tree ul:before,
.hierarchy-tree div:before,
.hierarchy-tree span:before {
  outline: solid 1px silver;
  content: "";
  height: 1.5em;
  left: 50%;
  position: absolute;
}

.hierarchy-tree ul:before {
  top: -1em;
}

.hierarchy-tree div:before,
.hierarchy-tree span:before {
  top: -1.55em;
}

.hierarchy-tree>li {
  margin-top: 0;
}

.hierarchy-tree>li:before,
.hierarchy-tree>li:after,
.hierarchy-tree>li>div:before,
.hierarchy-tree>li>span:before {
  outline: none;
}

.hierarchy-tree .solid {
  background: #033f40;
  color: white;
  border: 2px solid #033f40;
  border-radius: 10px;
}

@keyframes slide-down {
  0% {
    max-height: 0;
    overflow: hidden;
  }

  100% {
    max-height: 500px;
    overflow: visible;

  }
}

.slide-down[data-reach-accordion-panel][data-state='open'] {
  animation: slide-down 4s ease forwards;
}

.contact-accordian [data-reach-accordion-button][data-state='open'] .contact-icon {
  transform: rotate(-180deg);
  color: #31766a;
}