{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.sql"],
      "options": {
        "formatter": "sql-formatter",
        "language": "postgresql",
        "paramTypes": "{ \"custom\": [ { \"regex\": \"\\\\$\\\\{[^}]+\\\\}\" } ] }"
      }
    }
  ],
  "plugins": ["prettier-plugin-embed", "prettier-plugin-sql"],
  "language": "postgresql",
  "dataTypeCase": "upper",
  "functionCase": "upper",
  "embeddedSqlIdentifiers": ["sql", "userSql"]
}
