{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "plugins": ["prettier-plugin-sql"],
  "language": "postgresql"
}
