DATABASE_URL=
API_URL=
AWS_URL=
JWT_SECRET=1SVCOO4wDj7FaQUyC3xPyKD69yllg0DPrXlICZecnVjg5nKHyAJd6ckLRNyutstP
REDIS_URL="http://localhost:6379"
SMTP_EMAIL=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
ADMIN_USERNAME=nearblocks