DATABASE_URL=
DATABASE_WRITE_URL=
RPC_URL=
NETWORK=mainnet
MAINNET_URL=
TESTNET_URL=

REDIS_SENTINEL_NAME=
REDIS_SENTINEL_URLS="http://192.168.1.1:26379|http://192.168.1.2:26380"
REDIS_PASSWORD=
REDIS_URL="localhost:6379"

USER_DB_URL=
USER_REDIS_URL=

DATABASE_CA=
DATABASE_CERT=
DATABASE_KEY=

SENTRY_DSN=

RATELIMITER_REDIS_PASSWORD=
RATELIMITER_REDIS_SENTINEL_NAME=
RATELIMITER_REDIS_SENTINEL_PASSWORD=
RATELIMITER_REDIS_SENTINEL_URLS=
RATELIMITER_REDIS_URL=

API_URL=
API_ACCESS_KEY=
