DATABASE_URL=
RPC_URL=
NETWORK=mainnet

REDIS_SENTINEL="localhost:26379|localhost:26380"
REDIS_URL="localhost:6379"

USER_DB_URL=
USER_REDIS_URL=

DATABASE_CA=
DATABASE_CERT=
DATABASE_KEY=

SENTRY_DSN=
