DATABASE_URL=
RPC_URL=
NETWORK=mainnet

REDIS_SENTINEL="localhost:26379|localhost:26380"
REDIS_URL="localhost:6379"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT=

DATABASE_CA=
DATABASE_CERT=
DATABASE_KEY=

BALANCE_START_BLOCK=
BASE_START_BLOCK=
EVENTS_START_BLOCK=

SENTRY_DSN=
