HASURA_GRAPHQL_DATABASE_URL=
HASURA_GRAPHQL_ENABLE_CONSOLE=false
HASURA_GRAPHQL_ADMIN_SECRET=
HASURA_GRAPHQL_PG_CONNECTIONS=200

DATABASE_URL=
REDIS_URL=
MAINNET_DB_URL=
MAINNET_REDIS_URL=

RPC_NODE_URL=
NETWORK=testnet
SENTRY_DSN=

COINMARKETCAP_API_KEY=
LIVECOINWATCH_API_KEY=
COINGECKO_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
JWT_SECRET=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_EMAIL=
