DATABASE_URL=
REDIS_URL=
RPC_URL=
NETWORK=mainnet
SENTRY_DSN=

DATABASE_CA=
DATABASE_CERT=
DATABASE_KEY=

COINMARKETCAP_API_KEY=
LIVECOINWATCH_API_KEY=
COINGECKO_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
JWT_SECRET=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_EMAIL=
