DATABASE_URL=
DATABASE_WRITE_URL=
REDIS_URL=
RPC_URL=
NETWORK=testnet
MAINNET_URL=
TESTNET_URL=

USER_DB_URL=
USER_REDIS_URL=

DATABASE_CA=
DATABASE_CERT=
DATABASE_KEY=

SENTRY_DSN=

OTEL_EXPORTER_OTLP_ENDPOINT=https://otel.baselime.io/v1/traces
OTEL_EXPORTER_API_KEY=
OTEL_SERVICE_NAME=api