API_ACCESS_KEY=
API_URL=
AWS_REGION=
AWS_SES_FROM_EMAIL=
AWS_SES_TO_EMAIL=
TURNSTILE_SECRET_KEY=

NEXT_PUBLIC_FASTNEAR_RPC_KEY=
NEXT_PUBLIC_NETWORK_ID=
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
