:root {
  --font-heading: "Manrope", sans-serif;
  --font-sans: "Inter", sans-serif;
  --color-primary: 3 63 64;
  --color-bg-body: 251 253 255;
  --color-bg-box: 255 255 255;
  --color-bg-skeleton: 229 231 235;
  --color-bg-tooltip: 30 32 34;
  --color-bg-code: 248 248 248;
  --color-bg-function: 238 250 255;
  --color-bg-transfer: 240 255 238;
  --color-bg-stake: 225 253 255;
  --color-bg-contract: 255 242 228;
  --color-bg-account-add: 244 253 219;
  --color-bg-account-delete: 249 214 217;
  --color-bg-key-add: 236 241 254;
  --color-bg-key-delete: 250 242 242;
  --color-text-body: 63 66 70;
  --color-text-box: 17 22 24;
  --color-text-input: 162 162 168;
  --color-text-label: 162 162 168;
  --color-text-function: 63 66 70;
  --color-text-warning: 255 75 85;
  --color-text-tooltip: 230 230 230;
  --color-border-body: 225 225 225;
}

.dark {
  --color-primary: 49 118 106;
  --color-bg-body: 19 20 21;
  --color-bg-box: 30 32 34;
  --color-bg-skeleton: 61 64 70;
  --color-bg-tooltip: 40 42 44;
  --color-bg-code: 44 44 44;
  --color-bg-function: 238 250 255;
  --color-bg-transfer: 240 255 238;
  --color-bg-stake: 225 253 255;
  --color-bg-contract: 255 242 228;
  --color-bg-account-add: 244 253 219;
  --color-bg-account-delete: 249 214 217;
  --color-bg-key-add: 236 241 254;
  --color-bg-key-delete: 250 242 242;
  --color-text-body: 230 230 230;
  --color-text-box: 230 230 230;
  --color-text-input: 162 162 168;
  --color-text-label: 162 162 168;
  --color-text-tooltip: 230 230 230;
  --color-text-function: 63 66 70;
  --color-text-warning: 255 75 85;
  --color-border-body: 51 51 51;
  --color-border-box: 120 120 120;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.arrow::before,
.arrow::after {
  @apply content-[''] absolute bottom-0 w-px h-1 border-l border-border-body;
}

.arrow::before {
  @apply left-[-3px] -rotate-45;
}

.arrow::after {
  @apply left-px rotate-45;
}