@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    .flex-0 {
        flex: 0;
    }

    .min-w-10 {
        min-width: 10rem;
    }
}

.SelectContent {
    width: var(--radix-select-trigger-width);
    max-height: var(--radix-select-content-available-height);
}

b,
strong {
    font-weight: 600;
}

pre[class*='language-'] {
    margin: 0 !important;
}

pre[class*='language-']>code {
    border-left: 4px solid #2d8f44 !important;
    box-shadow: -1px 0px 0px 0px #2d8f44, 0px 0px 0px 1px #dfdfdf !important;
}

.soft-shadow {
    box-shadow: 0px 8px 19.200000762939453px 0px rgba(189, 197, 209, 0.2);
    border: 1px solid rgba(233, 236, 239, 1)
}

.dark .soft-shadow {
    box-shadow: 0px 8px 19.200000762939453px 0px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(31, 34, 40, 1)    
}

.image-shadow {
    box-shadow: 0 1.6px 5.4px rgba(0, 0, 0, 0.054),
        0 4.4px 14.9px rgba(0, 0, 0, 0.069), 0 10.6px 35.9px rgba(0, 0, 0, 0.079),
        0 35px 119px rgba(0, 0, 0, 0.11);
}

.bg-blue {
    background-color: #21325b !important;
}

.footer {
    background: #fff;
}

.footer-links a:hover {
    color: #003536;
}

.dark .footer-links a:hover {
    color: #31766A;
}

.u-label--badge-in {
    position: relative;
    letter-spacing: .8px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(76, 189, 187, .1);
    font-size: .65625rem;
    line-height: 1.7;
    padding: .2rem .8rem
}

.u-label--badge-in:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-top: .7rem solid transparent;
    border-bottom: .7rem solid transparent;
    border-left: .7rem solid #fff
}

.dark .u-label--badge-in:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-top: .7rem solid transparent;
    border-bottom: .7rem solid transparent;
    border-left: .7rem solid #0D0D0D
}



#token-search {
    position: relative;
}

#token-search:before {
    content: '';
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    width: 14px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' fill='gray' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}

.word-break {
    word-break: break-word;
}
/* Styles for modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    background-color: rgba(63, 65, 66, 0.5);
    overflow: hidden;
    outline: 0;
}

.fade {
    transition: opacity 0.15s linear;
}

.modal-xl {
    max-width: 1140px;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: auto;
    pointer-events: none;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-scrollable {
    max-height: calc(100% - (0.5rem * 2));
    overflow-y: auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.75rem;
    outline: 0;
}

.contract-accordian [data-reach-accordion-button][data-state='open'] {
    @apply rounded-b-none;
  }
  .contract-accordian [data-reach-accordion-panel][data-state='open'] {
    @apply rounded-t-none;
  }
  .contract-icon {
    transition: transform 300ms;
  }
  .contract-accordian
    [data-reach-accordion-button][data-state='open']
    .contract-icon {
    transform: rotate(90deg);
  }
/* Styles for modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    background-color: rgba(63, 65, 66, 0.5);
    overflow: hidden;
    outline: 0;
}

.fade {
    transition: opacity 0.15s linear;
}

.modal-xl {
    max-width: 1140px;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: auto;
    pointer-events: none;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (0.5rem * 2));
}

.modal-dialog-scrollable {
    max-height: calc(100% - (0.5rem * 2));
    overflow-y: auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.75rem;
    outline: 0;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    border-radius: 0.75rem;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #033f40;
    border-color: #033f40;
}

.btn-secondary {
    color: #4b5563;
    background-color: #E9ECEF;
    border-color: #E9ECEF;
    margin-left: 1rem;
}



.btn:focus,
.btn:hover {
    text-decoration: none;
}

.btn-secondary:focus,
.btn-secondary:hover {
    color: #4b5563;
    background-color: #DEE2E6;
    border-color: #DEE2E6;
}

.hierarchy-tree,
.hierarchy-tree ul,
.hierarchy-tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.hierarchy-tree {
    margin: 0 0 1em;
    text-align: center;
    width: 100%;
}

.hierarchy-tree,
.hierarchy-tree ul {
    display: table;
    width: 100%;
}

.hierarchy-tree li {
    display: table-cell;
    padding: 1em 0;
    vertical-align: top;
    min-width: 120px;
}

.hierarchy-tree li:before {
    outline: solid 1px silver;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0.55em;
}

.hierarchy-tree li:first-child:before {
    left: 50%;
}

.hierarchy-tree li:last-child:before {
    right: 50%;
}

.hierarchy-tree div,
.hierarchy-tree span {
    border: solid .1em silver;
    border-radius: .2em;
    display: inline-block;
    margin: 1em .5em 1em;
    padding: 0.7em 1.5em;
    position: relative;
    box-sizing: border-box;
}

.hierarchy-tree ul:before,
.hierarchy-tree div:before,
.hierarchy-tree span:before {
    outline: solid 1px silver;
    content: "";
    height: 1.5em;
    left: 50%;
    position: absolute;
}

.hierarchy-tree ul:before {
    top: -1em;
}

.hierarchy-tree div:before,
.hierarchy-tree span:before {
    top: -1.55em;
}

.hierarchy-tree>li {
    margin-top: 0;
}

.hierarchy-tree>li:before,
.hierarchy-tree>li:after,
.hierarchy-tree>li>div:before,
.hierarchy-tree>li>span:before {
    outline: none;
}

.hierarchy-tree .solid {
    background: #033f40;
    color: white;
    border: 2px solid #033f40;
    border-radius: 10px;
}

