name: Build Docker Images
on:
  push:
    branches: ['main']

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          [
            api,
            api-user,
            app,
            backend,
            indexer-balance,
            indexer-base,
            indexer-events,
            indexer-dex,
            indexer-multichain,
            indexer-signature,
            indexer-receipts,
            indexer-s3,
            explorer-selector,
            aggregates,
          ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Determine image tag
        run: |
          if [ "${{ matrix.service }}" = "indexer-balance" ]; then
            echo "TAG=:v2" >> $GITHUB_ENV
          else
            echo "TAG=:latest" >> $GITHUB_ENV
          fi

      - name: Get current image digest
        run: |
          CURRENT_DIGEST=$(docker manifest inspect ghcr.io/nearblocks/${{ matrix.service }}${{ env.TAG }} | jq -r '.config.digest' || echo "")
          echo "CURRENT_DIGEST=$CURRENT_DIGEST" >> $GITHUB_ENV

      - uses: docker/build-push-action@v5
        id: build
        with:
          context: .
          file: apps/${{ matrix.service }}/Dockerfile
          platforms: linux/amd64
          push: true
          provenance: false
          tags: |
            ghcr.io/nearblocks/${{ matrix.service }}${{ env.TAG }}
            ghcr.io/nearblocks/${{ matrix.service }}:${{ github.sha }}
          cache-from: type=registry,ref=ghcr.io/nearblocks/${{ matrix.service }}${{ env.TAG }}
          cache-to: type=inline
          build-args: |
            GITHUB_SHA=${{ github.sha }}

      - name: Get new image digest
        run: |
          NEW_DIGEST=$(docker manifest inspect ghcr.io/nearblocks/${{ matrix.service }}${{ env.TAG }} | jq -r '.config.digest')
          echo "NEW_DIGEST=$NEW_DIGEST" >> $GITHUB_ENV

#      - name: Deploy testnet
#        if: |
#          env.CURRENT_DIGEST != env.NEW_DIGEST &&
#          matrix.service != 'indexer-dex' &&
#          matrix.service != 'indexer-s3' &&
#          matrix.service != 'explorer-selector'
#        run: |
#          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > kubeconfig
#          export KUBECONFIG=$(pwd)/kubeconfig
#
#          kubectl set -n nearblocks-testnet image deployment/testnet-${{ matrix.service }} ${{ matrix.service }}=ghcr.io/nearblocks/${{ matrix.service }}:${{ github.sha }}
#          kubectl rollout -n nearblocks-testnet status deployment/testnet-${{ matrix.service }} --timeout=600s
